img[alt="profile_photo"] {
  width: 150px;
  border-radius: 50%;
}

.home-info {
  display: flex;
  gap: 1rem;
}

.profile-photo {
  flex: none;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Inter", sans-serif;
}
