{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
  <div class="home-info">
    <div>
      <img src="https://shaunchuah.github.io/photo.jpg" alt="profile_photo" />
    </div>
    <div>
      <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
      </header>
      <div class="entry-content">{{ .Content | markdownify }}</div>
      <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
      </footer>
    </div>
  </div>
</article>
{{- end -}}
